In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
# NaN'ов нет
# путем перебора выяснилось, что довольно неплохой результат дает следующий набор признаков:
selectedColumns = data[ [ 'capital-gain', 'education', 'marital-status', 'income' ] ]

X = pd.get_dummies( selectedColumns, columns = [ 'education', 'marital-status'] )

# убираем целевую переменную
del X['income']

In [5]:
le = LabelEncoder()
le.fit( data['income'] )

LabelEncoder()

In [6]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [7]:
y = pd.Series( data = le.transform( data['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [8]:
model = LogisticRegression()

In [9]:
split = int(len(data) * .8)

In [10]:
X_train = X[:split]
Y_train = y[:split]

X_test = X[split:]
Y_test = y[split:]

In [11]:
model.fit( X_train, Y_train )

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [12]:
predictions = model.predict_proba( X )

In [13]:
model.score(X_test, Y_test)

0.8390828129798341